mnt/

# Runtime data
keycloak/data/
ldap/data/
ldap/config/
openwebui/data/

# Databases
*.db
*.db-shm
*.db-wal
*.mdb

# Model caches
cache/
vector_db/

# TLS certs (optional)
# nginx/certs/

# Python
__pycache__/
*.pyc
.venv/
.localvenv/

# Editors
.vscode/
.idea/

# OS
.DS_Store
